.app-container {
  text-align: left;
  font-family: 'DM Sans';
  display: flex;
  padding: 10% 10%;
  gap: 2em;
 }

.title-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
}

.logo {
  width: 6em;
  height: 6em;
}

.title {
  font-family: 'DM Sans', sans-serif;
  color: #303030;
  line-height: 0em;
  font-size: 5em;
  font-weight: bolder;
}

.subtitle {
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
  line-height: 1em;
  color: #303030;
  font-weight: medium;
  margin-bottom: 2em;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 36em;
}

.feed-screen {
  transform: translate(-60px, 0px);
  max-width: 14em;
  z-index: 1;
  height: auto;
}

.map-screen {
  transform: translate(0px, 80px);
  max-width: 14em;
  height: auto;
}

.app-download {
  margin-top: 2em;
}

.badge {
  width: 12em;
  height: auto;
}

@media (max-width: 800px) {
  .app-phones {
    display: none;
  }
}
